{% extends 'TechShelterApp/main.html' %}
{% load static %}
{% block content %}

<h1 style="padding:0 30px 10px;">ORDERS RECEIVED</h1>
{% if rcv_ord_quantity is not 0 %}
<div class="row" style="margin: 0px 17px;">
	<div class="col-lg-12" style="padding: 0 15px;">
		<div class="box-element">
			<div class="cart-row" style="background-color: black; color: white; padding: 10px 0; text-align: center;">
				<div style="flex:1"></div>
				<div style="flex:2"><strong>Item</strong></div>
				<div style="flex:1"><strong>Customer</strong></div>	
				<div style="flex:1"><strong>Transaction ID</strong></div>
				<div style="flex:1"><strong>Date</strong></div>
			</div>

            {% for orderedtech in orderedtechs %}
				{% if orderedtech.order.complete and orderedtech.tech.seller.username == logged_in_user.username %}
				<div class="cart-row" style="margin: 0 20px; text-align: center;">
					<div style="flex:1"><img class="row-image" src="{{orderedtech.tech.pictureURL}}"></div>
					<div style="flex:2; padding-top: 10px;">
						<p>{{orderedtech.tech.techname}}</p>
					</div>
					<div style="flex:1; padding-top: 10px;">
						<p>{{orderedtech.order.customer}}</p>		
					</div>
					<div style="flex:1; padding-top: 10px;">
						<p>{{orderedtech.order.transaction_id}}</p>
    	            </div>
					<div style="flex:1; padding-top: 10px;">
						<p>{{orderedtech.order.date_ordered}}</p>
					</div>
            	</div>
            		{% endif %}		
				
				
				
			{% endfor %}		
		</div>

	</div>
</div>
{% endif %}

{% endblock content %}